.container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 100px; 
}
.formBox {
  width: 100%;
  max-width: 480px;
  background: #ffffff;
  padding: 32px 20px;
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}


.label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 14px;
  border: none;
  background: #D9D9D9;
  font-size: 14px;
  outline: none;
}

.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.col {
  flex: 1;
}

.submitBtn {
  background: #F2932F;
  border: none;
  padding: 12px 0;
  width: 60%;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 30px auto;
}


.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  background: #fff;
  z-index: 9999;
}

.activeTab {
  flex: 1;
  padding: 12px;
  background: #C3600A;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.inactiveTab {
  flex: 1;
  padding: 12px;
  background: #f0f0f0;
  color: #555;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 480px) {
  .formBox {
    padding: 26px 14px;
  }

  .title {
    font-size: 20px;
  }

  .radioGroup {
    gap: 8px;
  }

  .row {
    flex-direction: column;
    gap: 14px;
  }

  .submitBtn {
    width: 85%;
    font-size: 15px;
  }
}


@media (max-width: 360px) {
  .formBox {
    padding: 22px 12px;
  }

  .title {
    font-size: 18px;
  }

  .input {
    padding: 10px;
    font-size: 13px;
  }

  .radioGroup {
    gap: 6px;
  }

  .submitBtn {
    width: 90%;
    padding: 11px 0;
    font-size: 14px;
  }
}


@media (max-width: 320px) {
  .formBox {
    padding: 20px 10px;
  }

  .title {
    font-size: 17px;
  }

  .label {
    font-size: 13px;
  }

  .input {
    padding: 9px;
    border-radius: 12px;
  }

  .submitBtn {
    width: 95%;
    border-radius: 18px;
  }

  .row {
    gap: 10px;
  }
}


@media (min-width: 720px) {
  .formBox {
    max-width: 480px;
    margin: 0 auto;
  }
}
