.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #C3600A;
  overflow: hidden;
  padding: 0;
}

.inner {
  width: 100%;
  max-width: 480px;
  height: 100%;
  background: var(--orange);

  padding: 30px 28px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-bottom: 85px;
  text-align: left;
}


.card {
  width: 100%;
  height: 120px;
  background: rgba(255,255,255,0.95);
  
  border: none;
  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin-bottom: 26px;

  transition: transform 0.18s ease, box-shadow 0.18s ease;


  user-select: none;

  
  -webkit-tap-highlight-color: transparent;
}


.card:active {
  transform: scale(0.93);
  opacity: 0.9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.icon {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.icon1 {
  width: 120px;
  height: 120px;
  object-fit: contain;
}


@media (min-width: 720px) {
  .inner {
    max-width: 480px;
  }
  .card:hover {
    transform: scale(1.06);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }
}
