@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;800&display=swap');


:root {
  --orange: #C3600A;
  --white: #ffffff;
  --card: #ffffff;
  --accent: #b85c1d;
  --text: #0b1720;
  --muted: #6b7280;
}



html, body, #__next {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;


  overflow: hidden;

 
  background: #ffffff;  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b1720;
}


.center-screen { 
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
