.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  flex-grow: 1; /* Garante que o container principal ocupe o espaço disponível */
}

.greeting {
  color: #ff6600;
  font-size: 24px;
  margin-bottom: 200px;
}

.servicesTitle {
  color: #333;
  font-size: 20px;
  margin: 20px 0;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Ajusta a altura para corresponder ao footer da página PerfilMorador */
  flex-shrink: 0; /* Evita que o footer se expanda ou encolha com base no conteúdo */
}

.footerButton {
  background: none;
  border: none;
  cursor: pointer;
}

.footerButton img {
  width: 30px; /* Ajusta o tamanho dos ícones para corresponder ao footer da página PerfilMorador */
  height: 30px;
}

.active {
  border-bottom: 2px solid #1D0B82; /* Adiciona um indicador para a página ativa */
}