
.splash1 {
  width: 100vw;
  height: 100vh;
  background-color: #C3600A; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 160px;
  height: auto;
  object-fit: contain;
}


.brand {
  margin-top: 16px;
  font-size: 28px;
  font-weight: 800;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
}

