
.container {
  width: 100%;
  height: 100dvh;

  background: #ffffff;
  overflow-y: auto;          
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  padding: 32px 24px 80px;   
}


.header {
  width: 100%;
  max-width: 480px;
  height: 60px;

  margin: 0 auto 20px;
  padding: 0 16px;

  display: flex;
  align-items: center;
}


.main {
  width: 100%;
  max-width: 480px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  width: 140px;
  margin-bottom: 10px;
}


.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.title .blue {
  color: #1D0B82;
}

.title .orange {
  color: #C3600A;
}


.subtitle {
  font-size: 15px;
  font-weight: 500;
  color: #C3600A;
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.4;
}


.features {
  width: 100%;
  max-width: 340px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}


.feature {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}


.featicon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: rgba(0, 200, 120, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


.feature h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #1D0B82;
}


.feature p {
  margin: 3px 0 0;
  font-size: 14px;
  color: #C3600A;
  line-height: 1.3;
}

.bottomText {
  margin-top: 70px;
  color: #C3600A;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  max-width: 320px;
  line-height: 1.4;
}



@media (max-width: 480px) {
  .container {
    padding: 26px 16px 90px; 
  }
  .logo {
    width: 120px;
  }
}

@media (max-height: 650px) {
  .container {
    padding-bottom: 110px; 
  }
}
