.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  flex-grow: 1; /* Garante que o container principal ocupe o espaço disponível */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1D0B82;
  color: #fff;
}

.backButton,
.settingsButton {
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profilePicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #C3600A;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
  color: #1D0B82;
  margin-top: 10px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactIcon {
  width: 20px;
  height: 20px; /* Ajustei também os ícones de contato para o mesmo tamanho */
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixa o footer na parte inferior */
  bottom: 0;
  width: 100%;
  height: 60px; /* Ajusta a altura para corresponder ao footer da página BuscarBairros */
  flex-shrink: 0; /* Evita que o footer se expanda ou encolha com base no conteúdo */
}

.footerButton {
  background: none;
  border: none;
  cursor: pointer;
}

.footerButton img {
  width: 30px; /* Ajusta o tamanho dos ícones para corresponder ao footer da página BuscarBairros */
  height: 30px;
}

.footerButton {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #1D0B82; /* Adiciona um indicador para a página ativa */
}